.manage {
  span.me {
    font-weight: bold;
  }

  h3 {
    margin: 10px 0;
  }

  table {
    border-collapse: separate;
    border-spacing: 10px;
    td {
      height: calc(var(--button-height) + 2px);
    }

    td.me {
      font-weight: bold;
    }
  }
}
