.topic-node {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  .hover-buttons {
    color: var(--secondary-color);
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;

    .drag-icon {
      cursor: move;
    }

    button.start-minute {
      background-color: transparent;
      color: var(--primary-color);
      border: none;
      box-shadow: none;
      font-size: 20px;
    }
  }

  .topic-header {
    flex: 1;
    border: 1px solid var(--secondary-color);
    background-color: var(--primary-color-subtle);
    box-shadow: 0 2px 4px var(--shadow-color);
    padding: 10px;
    margin: 10px 0;
    position: relative;
    h4 {
      margin: 0;
      font-size: 1.2em;
      width: max-content;
    }

    .duration-display {
      color: var(--primary-color);
    }

    form.duration-display {
      display: inline;

      input[type="number"] {
        width: 60px;
      }
    }

    .topic-actions {
      position: absolute;
      display: flex;
      gap: 5px;
      right: 10px;
      top: 10px;
    }
  }

  .topic-header.draft {
    border-color: var(--secondary-color-light);
    border-style: dashed;
  }
}
/* Ensure the hover buttons are visible on hover or on mobile */
.topic-node:hover .hover-buttons,
.topic-node:focus-within .hover-buttons,
.topic-node:active .hover-buttons,
.topic-node:focus .hover-buttons {
  visibility: inherit;
}

@media (hover: none) {
  .topic-node .hover-buttons {
    visibility: inherit;
  }
}
