/* define color variables */
:root {
  --font-color: hsl(0, 0%, 2%);
  --background-color: hsl(0, 0%, 98%);

  --button-foreground: hsl(0, 0%, 98%);

  --primary-color: hsl(217, 65%, 45%);
  --primary-color-light: hsl(217, 65%, 65%);
  --primary-color-subtle: hsl(217, 65%, 97%);

  --secondary-color: hsl(50, 77%, 50%);
  --secondary-color-light: hsl(50, 77%, 75%);

  --completed-color: hsl(133, 34%, 60%);

  --danger-color: hsl(0, 83%, 82%);
  --danger-color-strong: hsl(0, 83%, 70%);
  --danger-color-subtle: hsl(0, 83%, 97%);

  --shadow-color: rgba(0, 0, 0, 0.1);
  --shadow-color-strong: rgba(0, 0, 0, 0.3);

  --semitransparent: hsla(0, 0%, 90%, 0.8);
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --font-color: hsl(0, 0%, 98%);
    --background-color: hsl(0, 0%, 10%);

    --button-foreground: hsl(0, 0%, 2%);

    --primary-color: hsl(217, 65%, 55%);
    --primary-color-light: hsl(217, 65%, 35%);
    --primary-color-subtle: hsl(217, 65%, 3%);

    --secondary-color: hsl(50, 77%, 50%);
    --secondary-color-light: hsl(50, 77%, 25%);

    --completed-color: hsl(133, 34%, 40%);

    --danger-color: hsl(0, 83%, 35%);
    --danger-color-strong: hsl(0, 83%, 30%);
    --danger-color-subtle: hsl(0, 83%, 10%);

    --shadow-color: rgba(0, 0, 0, 0.1);
    --shadow-color-strong: rgba(0, 0, 0, 0.3);
    --semitransparent: hsla(0, 0%, 10%, 0.2);
  }
}

/* define sizing variables */
:root {
  --button-height: 32px;
  --input-height: 32px;
  --select-height: 32px;
  --font-size: 14px;
}

:root {
  font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.2em;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 50px;
  padding: 0;
  background-color: var(--background-color);
  color: var(--font-color);
}

dialog {
  color: var(--font-color);
}

@media screen and (max-width: 600px) {
  body {
    margin: 0 20px;
  }
}

button:not(.cl-button),
input[type="button"],
input[type="submit"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  outline: 0;
  text-align: center;
  cursor: pointer;
  padding: 0px 12px;
  border-radius: 2px;
  height: var(--button-height);
  background-color: var(--primary-color);
  color: var(--button-foreground);
  font-size: var(--font-size);
  font-weight: 400;
  box-sizing: border-box;
  border: 2px solid var(--secondary-color);
  box-shadow: 0 4px 8px var(--shadow-color);

  svg {
    margin-right: 5px;
  }

  &:hover:not(:disabled) {
    background-color: var(--primary-color-light);
    box-shadow: 0 4px 8px var(--shadow-color-strong);
  }

  &:disabled {
    background-color: var(--primary-color-subtle);
    color: var(--font-color);
    border: 2px solid var(--primary-color-subtle);
    box-shadow: none;
    cursor: default;
  }
}

button.disabled,
input[type="button"].disabled,
input[type="submit"].disabled {
  background-color: var(--primary-color-subtle);
  color: var(--font-color);
  border: 2px solid var(--primary-color-subtle);
  box-shadow: none;
  cursor: not-allowed;

  &:hover {
    background-color: var(--primary-color-subtle);
    color: var(--font-color);
    border: 2px solid var(--primary-color-subtle);
    box-shadow: none;
  }
}

button.danger,
input[type="button"].danger,
input[type="submit"].danger {
  background-color: var(--danger-color);
  color: var(--button-foreground);
  border: 2px solid var(--danger-color-strong);
  box-shadow: 0 4px 8px var(--shadow-color);

  &:hover:not(:disabled) {
    background-color: var(--danger-color-strong);
    border: 2px solid var(--danger-color);
    box-shadow: 0 4px 8px var(--shadow-color-strong);
  }

  &:disabled {
    background-color: var(--danger-color-subtle);
    color: var(--font-color);
    border: 2px solid var(--danger-color-subtle);
    box-shadow: none;
    cursor: default;
  }
}

button.subtle,
input[type="button"].subtle,
input[type="submit"].subtle {
  background-color: clear;
  min-width: fit-content;
  color: var(--primary-color-light);
  border: none;
  box-shadow: none;

  &:hover {
    color: var(--primary-color);
    background-color: transparent;
    box-shadow: none;
  }
}

a {
  cursor: pointer;
  color: var(--primary-color);
  text-decoration: none;

  &.active,
  &.active:hover {
    color: var(--font-color);
    text-decoration: none;
    cursor: default;
  }

  &:hover {
    color: var(--primary-color-light);
  }
}

li {
  padding: 2px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  display: inline-block;
  outline: 0;
  cursor: text;
  padding: 0px 12px;
  border-radius: 2px;
  min-width: 80px;
  height: var(--input-height);
  background-color: var(--background-color);
  color: var(--font-color);
  font-size: var(--font-size);
  font-weight: 400;
  box-sizing: border-box;
  border: 2px solid var(--primary-color-light);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border: 2px solid var(--primary-color);
  box-shadow: 0 4px 8px var(--shadow-color);
}

input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled {
  background-color: var(--semitransparent);
  color: var(--font-color);
}

select {
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  padding: 0px 12px;
  border-radius: 2px;
  min-width: 80px;
  height: var(--select-height);
  background-color: var(--background-color);
  color: var(--font-color);
  font-size: var(--font-size);
  font-weight: 400;
  box-sizing: border-box;
  border: 2px solid var(--primary-color-light);
}
